body{
	font-family: gadugi, calibri;
	font-size: 14px;
    margin: 0px;
}
.container{
    width: 1000px;
}
.clear{
    clear:both;
}
/*** HEADER ***/
header{
    width: 100%;
    height: 150px;
}
a:hover{
    text-decoration: none;
}
#login-bar{
	width: 100%;
	height: 35px;
    background-color: #2592ef;
}
#login-btn{
	width: 85px;
	height: 33px;
	border: 1px solid #fff;
	float: right;
}
#login-btn a{
	padding: 5px 23px;
	color: #fff;
	display: block;
}
#menu-bar{
    height: 115px;
    background-color: #42b4ff;
}
#menu-bar .container{
    height: 100%;
}
.navbar-header{
    margin-top: 32px;
}
/* Logo */
#logo > img{
    width:230px;
}
#navbar{
	position: relative;
	top: 34px;
    display: block;
    visibility: visible;
	float: right;
}
#navbar a{
    padding-top: 10px;
    padding-bottom: 10px;
	color: #fff;
}
#navbar a:hover,
#navbar a:active,
.active{
	background-color: #fff;
	border-bottom: 5px solid #ff6600; /*FF7E00*/
	color: #ff6600;
}

/*** FOOTER ***/
footer{
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
}
footer .container{
    padding-top: 25px;
}
/* Slider */
#slider_area{
    width:100%;
    background:#A8A6A6;
}/*
#main_content{
    float:left;
    width:100%;
}*/
#closest_event h3{
    padding-left: 20px;
    margin-top: 25px;
    font-size: 19pt;
    color: #ff6600;
}
#thumbnail_area{
    width: 100%;
    height: 280px;
    margin-top: 10px;
    border: solid #42B4FF 3px;
}/*
.row{
    width:1028px;
    margin-left: auto;
    margin-right:auto;
}*/
#panel_search{
    width: 200px;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 20px;
    float: right;
}
#filter_left,
#filter_right{
    background: #42b4ff;
}
.filter_header{
    height: 40px;
    padding: 9px 20px;
    border-bottom: 1px solid #fff;
}
.filter_header h4{
    margin: 0px;
    color: #fff;
}
.filter_content{
    height: 164px;
    padding: 11px 20px;
}
.item_category a{
    width: 30%;
    height: 38px;
    border: 1px solid #FFF;
    float: left;
    text-align: center;
    padding: 5px;
    color: #FFF;
    margin: 7px 7px 0px 0px;
}
.item_category a:hover{
    color: #ff6600;
    background: #fff;
}
.month_area{
    margin-top: 2px;
}
.item_month{
    width: 44px;
    height: 45px;
    padding: 0px;
    margin: 0px 1px 1px 0px;
    float: left;
}
.item_month a{
    height: inherit;
    padding-top: 11px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    color: #000;
    display: block;
}
.item_month a:hover{
    background: #ff6600;
    color: #fff;
    font-weight: 600;
}
/*.item_month:hover{
    width: 46px;
    height: 45px;
    box-shadow: 3px 3px 2px #575757;
    z-index: 1;
}*/

/* Konten - Home */
#content_area{
    margin-top: 40px;
    margin-bottom: 80px;
}
#content_area h3{
    margin-top: 0px;
    font-size: 19pt;
}
#content_left .row{
    margin-bottom: 30px;
    padding-top: 10px;
}
#content_left .thumbnail img{
    width: 155px;
}
.contact_list{
    margin-top: 75px;
}
.contact_list > li .col-sm-2,
.contact_list > li .col-sm-10{
    padding-left: 5px;
}
.contact_list > li img{
  width: 23px;
}
.map_area{
    width: 99%;
    height:280px;
    border:solid silver 2px;
    background: #EDEDED;
    float:left;
    border-radius: 4px;
}
/* Recent Updates */
.head_recent_updates{
    width: 100%;
    height: 60px;
    background: #42b4ff;
    padding: 13px 10px;
    border-bottom: solid #2592EF 5px;
    color: #fff;
    font-size: 20px;
}
.item_recent_update{
    width:100%;
    height: 100px;
    background: #EDEDED;
    padding:10px;
    font-size: 14px;
    border-left: solid #909090 1px;
    border-right: solid #909090 1px;
    border-bottom: solid #909090 1px;
}

.item_recent_update:hover {
    background: #FBFBFB;
    color: #f60;
    padding-top: 15px;
    border-bottom: solid #f60 1px;
    transition: 0.7s;
}
.item_recent_update_note{
    width:50%;
    float:left;
}

 
/* Daftar EO dan Sponsor */
.page_list a{
    color: #000;
}
.page_list a:hover{
    color: #337AB7;
}
.page_list > .row{
    margin-top: 30px;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}
/*kategori*/
.poster_event{
    width:100%;
    float:left;
}

#content_area .col-xs-5{
    margin:0px;
    padding:0px;
    width:48%;
}


.thumb{
    margin-left: auto;
    margin-right:auto;
    float:left;
}