body{
	font-family: gadugi, calibri;
	font-size: 14px;
    margin: 0px;
}
.container{
    width: 1000px;
}
.clear{
    clear:both;
}
.glyphicon{
    top: 3px;
}
/*** HEADER ***/
header{
    width: 100%;
    height: 140px;
	position: relative;
	z-index: 10;
}
a:hover{
    text-decoration: none;
}
#login-bar{
	width: 100%;
	height: 35px;
    background-color: #2592ef;
}
#login-btn{
	width: 85px;
	height: 33px;
	border: 1px solid #fff;
	float: right;
}
#login-btn a{
	padding: 5px 23px;
	color: #fff;
	display: block;
}
#menu-bar{
    height: 105px;
    background-color: #42b4ff;
}
#menu-bar .container{
    height: 100%;
}
.navbar-header{
    margin-top: 30px;
}
/* Logo */
#logo > img{
    width:230px;
}
#navbar{
	position: relative;
	top: 32px;
    display: block;
    visibility: visible;
	float: right;
}
#navbar a{
    padding-top: 10px;
    padding-bottom: 10px;
	color: #fff;
}
#navbar a:hover,
#navbar a:active,
.active{
	background-color: #fff;
	border-bottom: 5px solid #ff6600; /*FF7E00*/
	color: #ff6600;
}

/*** FOOTER ***/
footer{
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
}
footer .container{
    padding-top: 25px;
}
/* Slider */
#slider_area{
    width:100%;
    background:#A8A6A6;
}/*
#main_content{
    float:left;
    width:100%;
}*/
#closest_event h3{
    padding-left: 20px;
    margin-top: 22px;
    font-size: 19pt;
    color: #ff6600;
}
#thumbnail_area{
    width: 100%;
    height: 280px;
    margin-top: 14px;
    border: solid #42B4FF 3px;
}
.page_list .row{
    width:1028px;
    margin-left: auto;
    margin-right:auto;
}
#panel_search{
    width: 200px;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 20px;
    float: right;
}
#filter_left,
#filter_right{
    background: #42b4ff;
}
.filter_header{
    height: 40px;
    padding: 9px 20px;
    border-bottom: 1px solid #fff;
}
.filter_header h4{
    margin: 0px;
    color: #fff;
}
.filter_content{
    height: 164px;
    padding: 11px 20px;
}
.item_category a{
    width: 30%;
    height: 38px;
    border: 1px solid #FFF;
    float: left;
    text-align: center;
    padding: 5px;
    color: #FFF;
    margin: 7px 7px 0px 0px;
}
.item_category a:hover{
    color: #ff6600;
    background: #fff;
}
.month_area{
    margin-top: 2px;
}
.item_month{
    width: 44px;
    height: 45px;
    background: #fff;
    padding: 0px;
    margin: 0px 1px 1px 0px;
    float: left;
}
.item_month a{
    height: inherit;
    padding-top: 11px;
    text-align: center;
    font-size: 16px;
    color: #000;
    display: block;
}
.item_month:hover{
    background: #ff6600;
    font-weight: 600;
    z-index: 50;
    box-shadow: 0px 0px 5px #626262;
}
.item_month:hover a{
    color: #fff;
}

/* Konten - Home */
#content_area{
    margin-top: 40px;
    margin-bottom: 80px;
}
#content_area h3{
    margin-top: 0px;
    font-size: 19pt;
}
#content_left .row{
    margin-bottom: 30px;
    padding-top: 10px;
}
#content_left .thumbnail img{
    width: 155px;
}
.contact_list{
    margin-top: 75px;
}
.contact_list > li .col-sm-2,
.contact_list > li .col-sm-10{
    padding-left: 5px;
}
.contact_list > li img{
  width: 23px;
}
.map_area{
    width: 99%;
    height:280px;
    border:solid silver 2px;
    background: #EDEDED;
    float:left;
    border-radius: 4px;
}
/* Recent Updates */
.head_recent_updates{
    width: 100%;
    height: 60px;
    background: #42b4ff;
    padding: 13px 10px;
    border-bottom: solid #2592EF 5px;
    color: #fff;
    font-size: 20px;
}
.item_recent_update{
    width:100%;
    height: 100px;
    background: #EDEDED;
    padding:10px;
    font-size: 14px;
    border-left: solid #909090 1px;
    border-right: solid #909090 1px;
    border-bottom: solid #909090 1px;
}

.item_recent_update:hover {
    background: #FBFBFB;
    color: #f60;
    padding-top: 15px;
    border-bottom: solid #f60 1px;
    transition: 0.7s;
}
.item_recent_update_note{
    width:50%;
    float:left;
}

 
/* Daftar EO dan Sponsor */
.page_list a{
    color: #000;
}
.page_list a:hover{
    color: #337AB7;
}
.page_list > .container >.row{
    margin-top: 30px;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

/*kategori*/
.poster_event .thumbnail{
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
}
.poster_event .thumbnail:hover{
    box-shadow: 0px 0px 5px #909090;
}
.poster_event img{
    width: 100%;
    height: 255px;
    background-color: #f2f2f2;
}
#content_area .col-xs-6 > a:first-child{
    color: #000;
}
#content_area .col-xs-6 > a:last-child{
    color: #42B4FF;
}
#content_area .col-xs-6 > a:hover,
#content_area .col-xs-6 > a:hover ~ a{
    color: #f60;
}
#content_area .col-xs-6 .row{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}
.eo{
    float: left;
    color: #42B4FF;
}
.date{
    float: right;
    color: #f60;
}
#content_area p{
    display: inline;
}
#content_area p ~ a{
    color: #42B4FF;
}

.thumb{
    margin-left: auto;
    margin-right:auto;
    float:left;
}

/*************************/
/**** EVENT DETAIL ****/
#event-detail .container > .col-md-9,
#event-detail .container > .col-md-3{
	padding-left: 0px;
}
.event-name{
	height: 46px;
}
#event-detail hr {
    margin-top: 0px;
    margin-bottom: 0px;
	color: #000;
}
#event-detail .row,
#event-attributes .col-sm-3,
#event-attributes .col-sm-6{
	padding-left: 0px;
	margin: 0px;
}
#event-attributes{
    width: 100%;
    min-height: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}
.attribute-icon{
    width: 25px;
    margin-right: 5px;
}
.attribute-icon img{
    height: 20px;
}
#event-content{
	margin-bottom: 50px;
}
#event-image{
	margin-top: 25px;
	margin-bottom: 20px;
}
#event-image .thumbnail{
    width: 659px;
    margin-left: auto;
    margin-right: auto;
}
#event-image img{
	width: 655px;
	height: 400px;
	background-color: #C2C2C2;
}
#other-events{
	height: 250px;
}
#other-events .col-sm-4{
	padding-left: 0px;
}
#other-events .thumbnail{
    width: 204px;
}
#other-events img{
    width: 200px;
    height: 135px;
	background-color: #C2C2C2;
}
#event-detail #recent_updates{
    margin-top: 20px;
    width: 220px;
    float: right;
}
/* profil EO*/
.ten_event_list{
    padding-left:0px;
}
.ten_event_list_item {
    list-style: none;
    padding:0px;
    margin-left:0px;
}
.icon_list_event {
    height:16px;
    margin:0px;
    padding:0px;
    background-image: url("../images/checkbox_black.png");
    background-repeat: no-repeat;
}
.ten_event_list_item > .col-sm-1{
    padding:0px;
    width:2.3%;
    min-width:16px;
}
.ten_event_list_item > .col-sm-11{
    width:97.7%
}
.ten_event_list_item > .col-sm-11 > a {
    color:#494848;
}

.ten_event_list_item > .col-sm-11 > a:hover{
    color:#42B4FF;
}
.back_butt > .col-sm-1 {
    width:28px;
    background:#42B4FF;
    padding:2px;
}


/*** Halaman Event EO ***/
#eo_name h2{
    font-weight: 600;
    color: #f60;
}
/*Tombol Profil*/
#sidebar_btn_left{
	position: fixed;
	top: 50%;
	right: 0px;
}
#sidebar_btn_left:hover,
#sidebar_btn_right:hover,
#sidebar_btn_left img:hover,
#sidebar_btn_right img:hover{
	cursor: pointer;
}
#sidebar_btn_left img,
#sidebar_btn_right img{
	width: 25px;
	height: 59px;
}
#sidebar_profil{
	width: 0;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: #2592EF;
	padding-top: 160px;
	color: #fff;
	z-index: 5;
}
#sidebar_profil .row,
#sidebar_profil table{
	margin-left: 15px;
	margin-right: 15px;
}
#sidebar_profil .thumbnail{
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: #F8F8F8;
	border-radius: 8px;
	display: inline-block;
}
#sidebar_profil .image_profil_bg{
	width: 68px;
	height: 68px;
	padding: 2px;
	background-color: #C2C2C2;
	border-radius: 6px;
}
#sidebar_profil .row img{
	width: 64px;
	height: 64px;
}
#sidebar_profil h4{
	display: inline;
}
#sidebar_profil table tr{
	height: 35px;
}
#sidebar_profil table .field_2{
	width: 20px;
	text-align: center;
}
#sidebar_profil a{
	color: #fff;
	float: right;
    margin-top: 15px;
    margin-right: 15px;
}
#sidebar_profil a:hover{
    color: #f60;
}
#sidebar_btn_right{
	position: relative;
	top: 60px;
	left: 0px;
	display: none;
}