body{
	font-family: gadugi, calibri;
	font-size: 1.5em;
    margin: 0px;
}
.container{
    width: 1000px;
}
/*** HEADER ***/
header{
    width: 100%;
    height: 150px;
    background-color: #42b4ff;
}
#login-bar{
	width: 100%;
	height: 35px;
    background-color: #2592ef;
}
#login-btn{
	width: 85px;
	height: 33px;
	border: 1px solid #fff;
	float: right;
}
#login-btn a{
	padding: 5px 23px;
	color: #fff;
	display: block;
}
#menu-bar{
    height: 115px;
}
#menu-bar .container{
    height: 100%;
}
.navbar-header{
    margin-top: 32px;
}
/* Logo */
#logo > img{
    width:230px;
}
#navbar{
	position: relative;
	top: 34px;
    display: block;
    visibility: visible;
	float: right;
}
#navbar a{
    padding-top: 10px;
    padding-bottom: 10px;
	color: #fff;
}
#navbar a:hover,
.active{
	background-color: #fff;
	border-bottom: 5px solid #ff6600; /*FF7E00*/
	color: #ff6600;
}

/*** FOOTER ***/
footer{
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
}
footer .container{
    padding-top: 25px;
}

/*
#footer{
    padding:0px;
    width:100%;
    float:left;
    height:80px;
    background:black;
    color:white;
    margin-top: 20px;
}
*/
/*
#up_header{
    padding:2px;
    width:100%;
    float:left;
    background-color: #4193F2;
}
.home_login_btn{
    background-color: #4193F2;
    border:solid white 1px;
    height:25px;
    color:white;
    padding:3px;
}
.home_login_btn:hover{
    background-color:white ;
    border:solid white 1px;
    height:25px;
    color:#4193F2;
    padding:3px;
}
#main_header{
    padding:2px;
    width:100%;
    float:left;
    background-color: #4BCDF4;
}
.logo{
    float:left;
}
.logo img {
    width:200px;
    margin:10px 0px;
}
#menu{
    float:right;
    margin-top: 11px;
}
#menu .nav li a{
    color:white;
}
#menu .nav li#menu_active a{
    color:orangered;
}
#menu .nav-pills > li> a:hover,
#menu .nav-pills > li> a:focus {
   border-bottom: solid orangered 2px;
   background: white;
   color: orangered;
   border-radius: 0px;;
}
#menu_active{
   border-bottom: solid orangered 2px;
   background: white;
   border-radius: 0px;;
}
*/
#slider_area{
    float:left;
    width:100%;
    background:#A8A6A6;
}
#main_content{
    float:left;
    width:100%;
}
#thumbnail_area{
    float:left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10xp;
    margin-bottom: 10px;
    padding-top: 10px;
    border:solid #4193F2 1px;
}
.row{
    width:1028px;
    margin-left: auto;
    margin-right:auto;
}
#panel_search{
    width:100%;
    padding:0px;
}
#filter{
    margin-top: 10xp;
    width:100%;
    padding:0px;
    color:white;
}
#filter_left{
    float:left;
    background: #4BCDF4;
    width:63%;
    padding-bottom: 10px;
}

#filter_right{
    float:right;
    background: #4BCDF4;
    width:35%;
    margin-left:10px;
}
.clear{
    clear:both;
}
.item_category a{
    width:30%;
    height: 30px;
    margin:0px 0px 5px 15px;
    border:solid 1px white;
    float:left;
    text-align: center;
    padding:5px;
    color:white;
}
.item_category a:hover{
    width:30%;
    height: 30px;
    margin:0px 0px 5px 15px;
    border:solid 1px white;
    float:left;
    text-align: center;
    padding:5px;
    color:orangered;
    background: white;
    text-decoration: none;
}
.month_area{
    margin:0px 5% 5% 5%;
    width:90%;
    float:left;
    background: silver;
}
.item_month a{
    width:24.6%;
    height: 60px;
    margin:0px 0px 1px 1px;
    float:left;
    background: white;
    text-align: center;
    font-size:20px;
    color:black;
    padding:12px;
}
.item_month a:hover{
    width:24.6%;
    height: 60px;
    margin:0px 0px 1px 1px;
    float:left;
    background: orangered;
    text-align: center;
    font-size:20px;
    color:white;
    padding:12px;
    text-decoration: none;
}

#content_area{
    margin-top: 10px;
    width:100%;
    padding:0px;
}
#content_left{
    float:left;
    padding:5px;
    width:63%;
}
#content_right{
    float:right;
    width:35%;
}
.desc_left{
    float:left;
    width:41%;
    margin:5px;
    padding:5px;
}
.desc_right{
    float:right;
    width:55%;
    margin:5px;
    padding:5px;
}
.thumb{
    margin-left: auto;
    margin-right:auto;
    float:left;
}
.map_area{
    width:99%;
    height:300px;
    border:solid silver 2px;
    background: sandybrown;
    float:left;
    border-radius: 4px;
}
.recent_event{
    float:left;
    width:100%;
}
.head_recent_event{
    float:left;
    width:100%;
    background: black;
    border-bottom: solid orangered 5px ;
    color:orangered;
    font-size: 20px;
    padding: 10px;
}
.item_recent_event{
    float:left;
    width:100%;
    background: silver;
    padding:10px;
    font-size: 14px;
    border-bottom: solid black 1px;
}

.item_recent_event:hover {
    float:left;
    width:100%;
    background: orangered;
    color:white;
    padding:10px;
    padding-top:15px;
    transition: 0.7s;
    border-bottom: solid orangered 1px;
}
.item_recent_event_note{
    width:50%;
    float:left;
}
.contact_list{
    list-style-type: none;
    padding:0px;
}
.contact_list li{
  padding: 0px;
  overflow: auto;
}
.contact_list > li > img{
  float: left;
  margin: 0 15px 10 0;
  width:30px;
}


 
// area EO
.list_eo{
    color:black;
}
//kategori
.poster_event{
    width:100%;
    float:left;
}
#content_area .col-xs-5{
    margin:0px;
    padding:0px;
    width:48%;
}
#content_area .col-xs-6{
    margin:0px;
    padding:0px;
}


