/*disini area FAJAR*/
body{
    margin					: 0px;
}

#header{
    background			: #222222;
}


#navbar .navbar{
    margin					: 0px;
    border-radius: 0px;
}

.navbar-default{
    background			: #222222;
    border-color: #222222;
}

.navbar-default .navbar-nav > li > a {
    color				: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: white;
}

.navbar-nav > li:hover {
    background				:#3498db;
    color			: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #3498db;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    text-decoration: none;
    background-color:  #3498db;
}
.navbar-default .navbar-brand{
    color			: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color			:  #3498db;
}

#content{
    background:#333333 ;
}

#content_left{
    background			: #333333;
    min-height			: 500px;
    padding: 	0px;

}
a:hover, a:focus {
    color			:  #3498db;
}
a{
    color	:white;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: #111111;
}
#menu_left{
    padding: 0px;
    margin-top	: 40px;
}
#content_right{
    background			: #EEEEEE;
    min-height			: 800px;
}
.badge{
    margin-top		: -20px;

}
span.action a{
    font-size		: 12px;
    margin			: 0px;
    color	:  #3498db;
}
span.action_delete a{
    font-size		: 12px;
    margin			: 0px;
    color	:  red;
}
#form_category{
    margin-top	:15px;
}

#create_button{
    padding				: 0px;
    margin-top		: 18px;	
}
#filter,#search{
    margin-top		: 20px;
}
.file_upload {
    position	: relative;
    overflow	: hidden;
    margin-left: 20px;
}
.file_upload input.upload {
    position	: absolute;
    top			: 0;
    right		: 0;
    margin		: 0;
    padding		: 0;
    font-size	: 20px;
    cursor		: pointer;
    opacity		: 0;
    filter		: alpha(opacity=0);
}
#input_file{
    padding		: 0px;
}
#footer{
    background			:  #222222;
    min-height			: 50px;

}
#profile_image{
    padding-left	: 200px;
}
#profile_image img{
    width: 200px;
    height	: auto;
}
#profile_detail{
    padding-top		: 20px;
}

.borderless td, .borderless th {
    border: none !important;
}
.text_right{
    text-align	: right;
}
.error{
    color			: red;
}


















































































































































































































/*programmer 2 TULIS NAMA DISINI*/


















































































































































































































































/*programmer 3 TULIS NAMA DISINI*/
















































































































































/*programmer 4 TULIS NAMA DISINI*/














































































































































#slider_preview{
    min-height: 400px;
    border:solid 1px gray;
    padding:10px;
    margin-left: 15px;
    background: white;
}


















































/*programmer 5 TULIS NAMA DISINI*/





























































































































































































































































































